body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "san-serif";
}

h1, h2, h3, h4{
    font-family: "Lobster", "cursive";    
}

h2{
    margin-left: 2rem;
}

h3{
    text-align: center;
    color: white;
}

h4{
    text-align: center;
}

h5{
    font-weight: bold;
    font-size: large;
}

li{
    font-size: large;
}

.modal-header{
    background-color:rgb(16, 136, 16);
}

.dropdown-item{
    color: white;
}

.hero {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/Colchuck-Lake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(70%);
}

.hero-content{
    position: relative;
    font-family: "Monserrat", sans-serif;
    text-align: center;
}

.hero-title{
    color: white;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.hero-button{
    width: 6rem;
    height: 2.5rem;
    background-color: green;
    color: white;
    cursor: pointer;
}

.hero-search-container{
    width: 30rem;
    height: 2.5rem;
    text-indent: 0.5rem;
}

.card-footer{
    height: 8rem;
}

.card-header{
    background-color: teal;
    height: 3rem;
    padding-top: 0.5rem;
}

#seasonal-hike{
    width: 100%;
    height: 20rem;
}

#backpacking-tips, #wanderlust-story{
    width: 100%;
    height: 30.5rem;
    object-fit: cover;
}

.site-footer{
    background-color: #003029;
    color: whitesmoke;
    margin-top: 5rem;
    height: 15rem;
    padding: 2rem;
}
